Flask
Flask-CORS
Flask-SQLAlchemy
Flask-Migrate
requests
python-dotenv
openai
langchain
langchain-openai
langchain-community
langchain-core
beautifulsoup4
faiss-cpu
PyMuPDF
chromadb
rake-nltk
numpy<2
scipy
nltk
pandas
typing-extensions
Werkzeug
psycopg2-binary
pgvector
boto3
python-docx
networkx
selenium
webdriver-manager
openpyxl
duckduckgo-search
google-auth-oauthlib
google-auth
google-api-python-client
psutil
celery[redis]
redis
gunicorn
