Flask==2.3.2
Flask-Cors==3.0.10
python-dotenv==1.0.0
langchain-openai==0.0.5
langchain-community==0.0.4
langchain-core==0.0.5
langchain-text-splitters==0.0.3
langgraph==0.0.2
bs4==0.0.1
PyMuPDF==1.22.5
faiss-cpu==1.7.4
rake-nltk==1.0.4
numpy==1.24.3
scipy==1.10.1
openai==0.27.8
nltk==3.8.1
pandas==2.0.3
pickle-mixin==1.0.2
typing-extensions==4.7.1