Flask
Flask-CORS
Flask-SQLAlchemy
requests
python-dotenv
openai
langchain
beautifulsoup4
faiss-cpu
PyMuPDF
chromadb
rake-nltk
numpy<2
scipy
nltk
pandas
typing-extensions
Werkzeug
mysql-connector-python
boto3
python-docx
networkx
selenium
webdriver-manager
openpyxl
duckduckgo-search
torch==2.0.1
twilio
google-auth-oauthlib
google-auth
google-api-python-client
psutil
